@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap";
.about-us__article:not(:last-child), .page__questions, .page__features, .page__testimonilas, .page__technology, .page__about-us, .page__presentation, .page__benefits, .page__header {
  margin-bottom: 110px;
}

@media (width >= 768px) {
  .about-us__article:not(:last-child), .page__questions, .page__features, .page__testimonilas, .page__technology, .page__about-us, .page__presentation, .page__benefits, .page__header {
    margin-bottom: 140px;
  }
}

@media (width >= 1194px) {
  .about-us__article:not(:last-child), .page__questions, .page__features, .page__testimonilas, .page__technology, .page__about-us, .page__presentation, .page__benefits, .page__header {
    margin-bottom: 170px;
  }
}

.questions__title, .features__title, .about-us__title {
  text-transform: uppercase;
  color: #333;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

@media (width >= 768px) {
  .questions__title, .features__title, .about-us__title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (width >= 1194px) {
  .questions__title, .features__title, .about-us__title {
    font-size: 56px;
    line-height: 70px;
  }
}

.about-us__text, .benefits__item-text, .header__description {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.questions__container, .testimonilas__container, .about-us__container, .presentation__container, .benefits__container, .menu__container, .header__container {
  padding: 0 30px;
}

@media (width >= 768px) {
  .questions__container, .testimonilas__container, .about-us__container, .presentation__container, .benefits__container, .menu__container, .header__container {
    padding: 0 34px;
  }
}

@media (width >= 1194px) {
  .questions__container, .testimonilas__container, .about-us__container, .presentation__container, .benefits__container, .menu__container, .header__container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 123px;
  }
}

h1, h2, h3, body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  scroll-behavior: smooth;
  background-color: #f7f7f7;
}

.page__body {
  color: #333;
  font-family: Inter, Arial, sans-serif;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  z-index: 2;
  transition: transform .35s linear;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  transform: translateX(0);
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--menu {
  background-image: url("menu.3098bbe1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon--cross {
  background-image: url("cross.1099298d.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  background-image: url("logo.970c1865.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 161px;
  height: 27px;
  transition: filter .35s;
  display: block;
}

.logo:hover {
  filter: drop-shadow(0 0 10px #0db2b3);
}

.group-links__link {
  width: 70px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: text-shadow .35s;
  display: inline-block;
}

.group-links__link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.group-links__language {
  display: inline-block;
}

.group-links__language-label {
  color: #bdbdbd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.group-links__language-input {
  appearance: none;
  position: absolute;
}

.group-links__language-input:checked + .group-links__language-label {
  color: #333;
}

.header {
  overflow: hidden;
}

.header__nav {
  justify-content: space-between;
  align-items: center;
  height: 76px;
  display: flex;
}

@media (width >= 768px) {
  .header__nav {
    height: max-content;
    margin-bottom: 90px;
    padding-top: 30px;
  }

  .header__links {
    align-items: center;
    gap: 30px;
    display: flex;
  }
}

.header__group-links {
  display: none;
}

@media (width >= 768px) {
  .header__group-links {
    display: block;
  }
}

.header__menu {
  display: block;
}

@media (width >= 1194px) {
  .header__menu {
    display: none;
  }
}

.header__content {
  flex-direction: column;
  display: flex;
}

@media (width >= 768px) {
  .header__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width >= 1194px) {
  .header__content {
    align-items: end;
  }
}

.header__text {
  order: 1;
}

@media (width >= 768px) {
  .header__text {
    order: 0;
  }
}

.header__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

@media (width >= 768px) {
  .header__title {
    max-width: 545px;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 62px;
  }
}

@media (width >= 1194px) {
  .header__title {
    width: 378px;
    font-size: 62px;
    line-height: 78px;
  }
}

.header__description {
  color: #333;
}

@media (width >= 768px) {
  .header__description {
    min-width: 250px;
    max-width: 440px;
  }
}

@media (width >= 1194px) {
  .header__description {
    width: 276px;
  }
}

.header__photo {
  margin: 0 calc(50% - 50vw);
}

@media (width >= 768px) {
  .header__photo {
    margin: 0;
  }
}

.header__image {
  width: 100%;
  height: auto;
}

@media (width >= 768px) {
  .header__image {
    width: auto;
    height: 317px;
  }
}

@media (width >= 1194px) {
  .header__image {
    height: 464px;
  }
}

.menu {
  background-color: #f7f7f7;
  height: 100%;
  overflow-y: auto;
}

.menu__content {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.menu__top {
  justify-content: space-between;
  align-items: center;
  height: 74px;
  margin-bottom: 32px;
  display: flex;
}

@media (width >= 768px) {
  .menu__top {
    margin-bottom: 40px;
  }
}

.menu__list {
  margin-bottom: 50px;
}

.menu__list-link {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
}

@media (width >= 768px) {
  .menu__list-link {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 28px;
  }
}

.menu__list-link:last-child {
  margin-bottom: 0;
}

.menu__group-links {
  margin-bottom: 50px;
}

@media (width >= 768px) {
  .menu__group-links {
    display: none;
  }
}

.button {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  transition: background-color .35s;
  display: block;
}

.button--header {
  transition: background-color .35s;
  display: none;
}

@media (width >= 768px) {
  .button--header {
    background-color: #333;
    width: 102px;
    height: 48px;
    line-height: 48px;
    display: block;
  }
}

.button--header:hover {
  background-color: #131313;
}

.button--menu {
  background-color: #333;
  height: 48px;
  margin-bottom: 30px;
  line-height: 48px;
}

@media (width >= 768px) {
  .button--menu {
    display: none;
  }
}

.button--questions {
  cursor: pointer;
  background-color: #39bebf;
  border: none;
  width: 102px;
  height: 40px;
  line-height: 40px;
  transition: background-color .35s;
}

@media (width >= 1194px) {
  .button--questions {
    width: 124px;
    height: 48px;
    line-height: 48px;
  }
}

.button--questions:hover {
  background-color: #0c797a;
}

.benefits__nav {
  display: none;
}

@media (width >= 1194px) {
  .benefits__nav {
    margin-bottom: 94px;
    display: block;
  }
}

.benefits__list {
  justify-content: center;
  gap: 84px;
  display: flex;
}

.benefits__list-link {
  width: 110px;
  padding: 5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  transition: text-shadow .35s;
  display: inline-block;
}

.benefits__list-link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

.benefits__content {
  margin-bottom: 40px;
}

@media (width >= 768px) {
  .benefits__content {
    grid-template-columns: 1fr 1fr;
    gap: 64px 20px;
    display: grid;
  }
}

@media (width >= 1194px) {
  .benefits__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    display: grid;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item--tweeter {
  display: none;
}

@media (width >= 768px) {
  .benefits__item--tweeter {
    display: block;
  }
}

.benefits__item--multiroom {
  display: none;
}

@media (width >= 768px) {
  .benefits__item--multiroom {
    display: block;
  }
}

.benefits__item--intuitive {
  display: none;
}

@media (width >= 768px) {
  .benefits__item--intuitive {
    display: block;
  }
}

.benefits__item-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-bottom: 40px;
  transition: filter .35s;
  display: inline-block;
}

.benefits__item-icon:hover {
  filter: drop-shadow(0 0 15px #0db2b3);
}

@media (width >= 768px) {
  .benefits__item-icon {
    margin-bottom: 50px;
  }
}

@media (width >= 1194px) {
  .benefits__item-icon {
    margin-bottom: 34px;
  }
}

.benefits__item-icon--num--1 {
  background-image: url("futuristic-design-icon.3478b750.svg");
}

.benefits__item-icon--num--2 {
  background-image: url("tweeter-speaker-system-icon.fad6f36c.svg");
}

.benefits__item-icon--num--3 {
  background-image: url("multiroom-system-icon.7d9a555a.svg");
}

.benefits__item-icon--num--4 {
  background-image: url("intuitive-lighting-system-icon.ccc15886.svg");
}

.benefits__item-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
}

@media (width >= 1194px) {
  .benefits__item-title {
    height: 2em;
    margin-bottom: 24px;
  }
}

.presentation__image {
  max-width: 100%;
  height: auto;
  transition: transform .35s;
}

@media (width >= 768px) {
  .presentation__image {
    margin: 0 auto;
    display: block;
  }
}

.presentation__image:hover {
  transform: scale(1.05);
}

@media (width >= 768px) {
  .about-us__article {
    grid-template-rows: min-content min-content min-content 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    display: grid;
  }
}

@media (width >= 1194px) {
  .about-us__article {
    column-gap: 30px;
  }
}

@media (width >= 768px) {
  .about-us__article {
    grid-template-areas: "image title"
                         "image text"
                         "image more"
                         "image .";
  }
}

.about-us__article--reverse {
  grid-template-areas: "title image"
                       "text image"
                       "more image"
                       ". image";
}

.about-us__title {
  grid-area: title;
  margin-bottom: 30px;
}

.about-us__image-box {
  grid-area: image;
  margin-bottom: 20px;
}

@media (width >= 768px) {
  .about-us__image-box {
    margin-left: -34px;
    overflow: hidden;
  }

  .about-us__image-box--reverse {
    margin-left: 0;
    margin-right: -34px;
  }
}

.about-us__image {
  width: 100%;
  height: auto;
  transition: transform .35s;
}

.about-us__image:hover {
  transform: scale(1.03);
}

.about-us__text {
  grid-area: text;
  margin-bottom: 30px;
}

@media (width >= 768px) {
  .about-us__text {
    margin-bottom: 60px;
  }
}

.about-us__link {
  text-transform: uppercase;
  color: #0db2b3;
  grid-area: more;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  display: block;
}

.about-us__link:after {
  content: "";
  background-color: #0db2b3;
  width: 40%;
  height: 1px;
  margin-top: 5px;
  transition: width .35s;
  display: block;
}

@media (width >= 1194px) {
  .about-us__link:hover:after {
    width: 100%;
  }
}

.testimonilas {
  background-image: url("quotes.7d8aa259.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}

.testimonilas__text {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media (width >= 768px) {
  .testimonilas__text {
    margin-bottom: 40px;
    padding-top: 60px;
    font-size: 24px;
    line-height: 36px;
  }
}

@media (width >= 1194px) {
  .testimonilas__text {
    width: 786px;
    margin: 0 auto 30px;
    padding-top: 42px;
  }
}

.testimonilas__photo {
  width: 62px;
  height: 62px;
  margin: 0 auto 10px;
  transition: transform .35s;
  display: block;
}

@media (width >= 768px) {
  .testimonilas__photo {
    margin-bottom: 20px;
  }
}

.testimonilas__photo:hover {
  transform: scale(1.1);
}

.testimonilas__name {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.testimonilas__profession {
  text-align: center;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features__container {
  padding: 0;
}

@media (width >= 768px) {
  .features__container {
    padding: 0 34px;
  }
}

@media (width >= 1194px) {
  .features__container {
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 123px;
  }
}

.features__title {
  margin-bottom: 30px;
  padding: 0 30px;
}

@media (width >= 768px) {
  .features__title {
    padding: 0;
  }
}

.features__content {
  background-color: #d6ecec;
  background-image: url("feature-mobile.6d93cdcc.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 560px;
  position: relative;
}

@media (width >= 768px) {
  .features__content {
    background-image: url("feature-tablet.30985970.webp");
    background-position: 100% 100%;
    background-size: 58%;
    height: 556px;
  }
}

@media (width >= 1194px) {
  .features__content {
    background-image: url("feature-desktop.90788536.webp");
    background-position: 95% 100%;
    background-size: 540px;
    height: auto;
  }
}

.features__swiper-wrapper {
  margin: 0 30px;
}

@media (width >= 768px) {
  .features__swiper-wrapper {
    margin-left: 90px;
  }
}

@media (width >= 1194px) {
  .features__swiper-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item1 item2"
                         "item3 .";
    gap: 56px;
    margin: 0;
    padding: 60px 100px;
    display: grid;
  }
}

.features__content-item--grid-1 {
  grid-area: item1;
}

.features__content-item--grid-2 {
  grid-area: item2;
}

.features__content-item--grid-3 {
  grid-area: item3;
}

.features__content-title {
  text-transform: uppercase;
  color: #0c797a;
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

@media (width >= 768px) {
  .features__content-title {
    padding-top: 60px;
  }
}

@media (width >= 1194px) {
  .features__content-title {
    width: 378px;
    margin-bottom: 30px;
    padding-top: 0;
    font-size: 34px;
    line-height: 42px;
  }
}

.features__content-list {
  width: 80%;
}

@media (width >= 1194px) {
  .features__content-list {
    width: 378px;
  }
}

.features__content-list-item {
  color: #333;
  margin-bottom: 5px;
  margin-left: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  position: relative;
}

.features__content-list-item:before {
  content: "•";
  position: absolute;
  top: 50%;
  left: -17px;
  transform: translate(0, -50%);
}

@media (width >= 1194px) {
  .features__content-list-item {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__content-item--grid-1, .features__content-item--grid-2 {
  display: none;
}

@media (width >= 1194px) {
  .features__content-item--grid-1, .features__content-item--grid-2 {
    display: block;
  }
}

.features__slider {
  width: max-content;
  margin: 0 auto;
}

@media (width >= 768px) {
  .features__slider {
    margin-left: 90px;
    padding-bottom: 123px;
  }
}

@media (width >= 1194px) {
  .features__slider {
    display: none;
  }
}

.features__slider-arrow {
  justify-content: center;
  padding-top: 50px;
  display: flex;
}

.features__icon {
  cursor: pointer;
  width: 48px;
  height: 13px;
  transition: background-image .35s;
}

.features__icon--left {
  background-image: url("arrow-left-hover.769be055.svg");
  position: relative;
  left: 2px;
}

.features__icon--right {
  background-image: url("arrow-right.bc6e55c7.svg");
  position: relative;
  left: -2px;
}

.features__slider-count {
  justify-content: center;
  padding-top: 10px;
  font-size: 16px;
  display: flex;
}

.features__slider-count-down {
  color: #0c797a;
  font-size: 11px;
  position: relative;
  top: 8px;
  left: 3px;
}

.questions__wrapper {
  flex-direction: column;
  gap: 20px;
  display: flex;
}

@media (width >= 768px) {
  .questions__wrapper {
    flex-direction: row;
  }
}

.questions__title {
  margin-bottom: 30px;
}

@media (width >= 768px) {
  .questions__title {
    width: 50%;
    margin: 0;
  }

  .questions__form {
    width: 50%;
  }
}

.questions__email {
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: 1px solid #828282;
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 24px;
}

@media (width >= 768px) {
  .questions__email {
    padding-left: 30px;
  }
}

@media (width >= 1194px) {
  .questions__email {
    padding-left: 36px;
  }
}

.questions__email::placeholder {
  color: #bdbdbd;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.questions__email:focus {
  border: 1px solid #0c797a;
  outline: none;
}

.questions__email:invalid {
  color: #eb5757;
  border: 1px solid #eb5757;
}

.questions__email:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 1000px #f7f7f7;
}

.questions__massage {
  box-sizing: border-box;
  resize: none;
  background-color: #f7f7f7;
  border: 1px solid #828282;
  width: 100%;
  height: 128px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-left: 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

@media (width >= 768px) {
  .questions__massage {
    height: 200px;
    padding-left: 30px;
  }
}

@media (width >= 1194px) {
  .questions__massage {
    padding-left: 36px;
  }
}

.questions__massage:focus {
  border: 1px solid #0c797a;
  outline: none;
}

.questions__massage::placeholder {
  color: #bdbdbd;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  position: relative;
}

.footer__logo {
  display: none;
}

@media (width >= 768px) {
  .footer__logo {
    margin: 0 auto 64px;
    display: block;
  }
}

.footer__socials {
  justify-content: center;
  gap: 44px;
  margin-bottom: 34px;
  display: flex;
}

@media (width >= 768px) {
  .footer__socials {
    gap: 54px;
  }
}

@media (width >= 1194px) {
  .footer__socials {
    margin-bottom: 64px;
  }
}

.footer__link {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  transition: transform .35s;
  display: block;
}

.footer__link:hover {
  transform: scale(1.3);
}

.footer__link--twitter {
  background-image: url("twitter.af0920f9.svg");
}

.footer__link--instagram {
  background-image: url("instagram.4f4fa4b4.svg");
}

.footer__link--facebook {
  background-image: url("facebook.b06ac169.svg");
}

.footer__copyright {
  text-align: center;
  color: #bdbdbd;
  width: 260px;
  margin: 0 auto 30px;
  font-size: 14px;
  line-height: 21px;
}

@media (width >= 768px) {
  .footer__copyright {
    width: auto;
  }
}

.footer__to-top {
  transition: transform .35s;
  display: none;
}

@media (width >= 768px) {
  .footer__to-top {
    background-image: url("arrow-up.1c46d6ad.svg");
    width: 20px;
    height: 24px;
    font-size: 34px;
    display: block;
    position: absolute;
    bottom: 90px;
    right: 34px;
  }
}

.footer__to-top:hover {
  transform: scale(1.2);
}

@media (width >= 1194px) {
  .footer__to-top {
    right: 123px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
